/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/proteinfold Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    input                       = null
    mode                        = 'alphafold2' // {alphafold2, colabfold, esmfold, rosettafold_all_atom, alphafold3, helixfold3, boltz}
    use_gpu                     = false
    split_fasta                 = false
    db                          = null
    use_msa_server              = false
    msa_server_url              = null
    uniref30_prefix             = null

    // Alphafold2 parameters
    alphafold2_mode                 = 'split_msa_prediction' // {standard, split_msa_prediction}
    alphafold2_max_template_date    = '2038-01-19'
    alphafold2_full_dbs             = false // true full_dbs, false reduced_dbs
    alphafold2_model_preset         = 'monomer_ptm' // for AF2 {monomer, monomer_casp14, monomer_ptm, multimer}
    alphafold2_db                   = null
    alphafold2_random_seed          = null

    // Alphafold2 links
    alphafold2_bfd_link             = null
    alphafold2_small_bfd_link       = null
    alphafold2_params_link          = null
    alphafold2_mgnify_link          = null
    alphafold2_pdb70_link           = null
    alphafold2_pdb_mmcif_link       = null
    alphafold2_pdb_obsolete_link    = null
    alphafold2_uniref30_link        = null
    alphafold2_uniref90_link        = null
    alphafold2_pdb_seqres_link      = null
    alphafold2_uniprot_sprot_link   = null
    alphafold2_uniprot_trembl_link  = null

    // Alphafold2 paths
    alphafold2_bfd_path             = null
    alphafold2_small_bfd_path       = null
    alphafold2_params_path          = null
    alphafold2_mgnify_path          = null
    alphafold2_pdb70_path           = null
    alphafold2_pdb_mmcif_path       = null
    alphafold2_pdb_obsolete_path    = null
    alphafold2_uniref30_path        = null
    alphafold2_uniref90_path        = null
    alphafold2_pdb_seqres_path      = null
    alphafold2_uniprot_path         = null

    // Alphafold3 parameters
    alphafold3_db              = null

    // Alphafold3 links
    alphafold3_small_bfd_link  = null
    alphafold3_mgnify_link     = null
    alphafold3_pdb_mmcif_link  = null
    alphafold3_uniref90_link   = null
    alphafold3_pdb_seqres_link = null
    alphafold3_uniprot_link    = null

    // Alphafold3 paths
    alphafold3_small_bfd_path  = null
    alphafold3_params_path     = null
    alphafold3_mgnify_path     = null
    alphafold3_pdb_mmcif_path  = null
    alphafold3_uniref90_path   = null
    alphafold3_pdb_seqres_path = null
    alphafold3_uniprot_path    = null

    // Boltz parameters
    boltz_model                      = null
    boltz_use_potentials             = false

    // Boltz links
    boltz_ccd_link       = null
    boltz_model_link     = null
    boltz2_aff_link      = null
    boltz2_conf_link     = null
    boltz2_mols_link     = null

    // Boltz paths
    boltz_db             = null
    boltz_ccd_path       = null
    boltz_model_path     = null
    boltz2_aff_path      = null
    boltz2_conf_path     = null
    boltz2_mols_path     = null

    // Colabfold parameters
    colabfold_model_preset      = "alphafold2_ptm" // {'alphafold2_ptm', 'alphafold2_multimer_v1', 'alphafold2_multimer_v2', 'alphafold2_multimer_v3'}
    colabfold_num_recycles      = 3
    colabfold_use_amber         = true
    colabfold_db                = null
    colabfold_db_load_mode      = 0
    colabfold_use_templates     = true
    colabfold_create_index      = false

    // Colabfold links
    colabfold_db_link       = null
    colabfold_uniref30_link = null

    // Colabfold paths
    colabfold_envdb_path       = null
    colabfold_uniref30_path = null

    // Esmfold parameters
    esmfold_db           = null
    esmfold_model_preset = "monomer"
    esmfold_num_recycles = 4

    // Esmfold links
    esmfold_3B_v1                        = null
    esm2_t36_3B_UR50D                    = null
    esm2_t36_3B_UR50D_contact_regression = null

    // Esmfold paths
    esmfold_params_path                  = null

    // RoseTTAFold_All_Atom parameters
    rosettafold_all_atom_db             = null

    // RoseTTAFold_All_Atom links
    rosettafold_all_atom_uniref30_link      = null
    rosettafold_all_atom_pdb100_link        = null
    rosettafold_all_atom_bfd_link           = null
    rosettafold_all_atom_paper_weights_link = null

    // RoseTTAFold_All_Atom paths
    rosettafold_all_atom_uniref30_path      = null
    rosettafold_all_atom_pdb100_path        = null
    rosettafold_all_atom_bfd_path           = null
    rosettafold_all_atom_paper_weights_path = null

    // Helixfold3 parameters
    helixfold3_db                = null
    helixfold3_full_dbs          = false // true full_dbs, false reduced_dbs
    helixfold3_precision         = "bf16"
    helixfold3_infer_times       = 4
    helixfold3_max_template_date = "2038-01-19"

    // Helixfold3 links
    helixfold3_uniclust30_link          = null
    helixfold3_ccd_preprocessed_link    = null
    helixfold3_rfam_link                = null
    helixfold3_init_models_link         = null
    helixfold3_bfd_link                 = null
    helixfold3_small_bfd_link           = null
    helixfold3_uniprot_sprot_link       = null
    helixfold3_uniprot_trembl_link      = null
    helixfold3_pdb_seqres_link          = null
    helixfold3_uniref90_link            = null
    helixfold3_mgnify_link              = null
    helixfold3_pdb_mmcif_link           = null
    helixfold3_obsolete_link            = null
    helixfold3_maxit_src_link           = null

    // Helixfold3 paths
    helixfold3_uniclust30_path          = null
    helixfold3_ccd_preprocessed_path    = null
    helixfold3_rfam_path                = null
    helixfold3_init_models_path         = null
    helixfold3_bfd_path                 = null
    helixfold3_small_bfd_path           = null
    helixfold3_uniprot_path             = null
    helixfold3_pdb_seqres_path          = null
    helixfold3_uniref90_path            = null
    helixfold3_mgnify_path              = null
    helixfold3_pdb_mmcif_path           = null
    helixfold3_obsolete_path            = null
    helixfold3_maxit_src_path           = null

    // Foldseek params
    foldseek_search             = null
    foldseek_easysearch_arg     = null

    // Process skipping options
    skip_multiqc                = false
    skip_visualisation          = false

    // MultiQC options
    multiqc_config              = null
    multiqc_title               = null
    multiqc_logo                = null
    max_multiqc_email_size      = '25.MB'
    multiqc_methods_description = null

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
    config_profile_name          = null
    config_profile_description   = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Schema validation default options
    validate_params            = true

}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled         = true
        docker.runOptions      = params.use_gpu ? '--gpus all' : '-u $(id -u):$(id -g)'
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    arm {
        docker.runOptions = params.use_gpu ?
            '-u $(id -u):$(id -g) --platform=linux/amd64 --gpus all' :
            '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.pullTimeout = '40m'
        singularity.runOptions  = params.use_gpu ? '--nv' : ''
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        apptainer.pullTimeout   = '40m'
        apptainer.runOptions    = params.use_gpu ? '--nv' : ''
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
        process {
            resourceLimits = [
                memory: 8.GB,
                cpus  : 4,
                time  : 1.h
            ]
        }
    }
    gpu {
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = '--nv'
        singularity.runOptions  = '--nv'
    }
    test                          { includeConfig 'conf/test.config'                                   }
    test_alphafold2_split         { includeConfig 'conf/test_alphafold_split.config'                   }
    test_alphafold2_download      { includeConfig 'conf/test_alphafold_download.config'                }
    test_alphafold3_standard      { includeConfig 'conf/test_alphafold3_standard.config'               }
    test_colabfold_local          { includeConfig 'conf/test_colabfold_local.config'                   }
    test_colabfold_webserver      { includeConfig 'conf/test_colabfold_webserver.config'               }
    test_colabfold_download       { includeConfig 'conf/test_colabfold_download.config'                }
    test_esmfold                  { includeConfig 'conf/test_esmfold.config'                           }
    test_split_fasta              { includeConfig 'conf/test_split_fasta.config'                       }
    test_full                     { includeConfig 'conf/test_full.config'                              }
    test_full_alphafold2_standard { includeConfig 'conf/test_full.config'                              }
    test_full_alphafold2_split    { includeConfig 'conf/test_full_alphafold_split.config'              }
    test_full_alphafold2_multimer { includeConfig 'conf/test_full_alphafold_multimer.config'           }
    test_full_colabfold_local     { includeConfig 'conf/test_full_colabfold_local.config'              }
    test_full_colabfold_webserver { includeConfig 'conf/test_full_colabfold_webserver.config'          }
    test_full_colabfold_multimer  { includeConfig 'conf/test_full_colabfold_webserver_multimer.config' }
    test_full_esmfold             { includeConfig 'conf/test_full_esmfold.config'                      }
    test_full_esmfold_multimer    { includeConfig 'conf/test_full_esmfold_multimer.config'             }
    test_full_boltz               { includeConfig 'conf/test_full_boltz.config'                        }
    test_rosettafold_all_atom     { includeConfig 'conf/test_rosettafold_all_atom.config'              }
    test_helixfold3               { includeConfig 'conf/test_helixfold3.config'                        }
    test_full_boltz               { includeConfig 'conf/test_full_boltz.config'                        }
    test_boltz                    { includeConfig 'conf/test_boltz.config'                             }
}

// Load nf-core custom profiles from different institutions

// If params.custom_config_base is set AND either the NXF_OFFLINE environment variable is not set or params.custom_config_base is a local path, the nfcore_custom.config file from the specified base path is included.
// Load nf-core/proteinfold custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load nf-core/proteinfold custom profiles from different institutions.
includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/pipeline/proteinfold.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nf-core/proteinfold'
    contributors    = [
        [
            name: 'Athanasios Baltzis',
            affiliation: 'Centre for Genomic Regulation, Spain',
            email: '',
            github: 'athbaltzis',
            contribution: ['author', 'maintainer'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0002-7495-1218'
        ],
        [
            name: ' Jose Espinosa-Carrasco',
            affiliation: 'Centre for Genomic Regulation, Spain',
            email: 'espinosacarrascoj@gmail.com',
            github: 'joseespinosa',
            contribution: ['author', 'maintainer'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0002-1541-042X'
        ],
        [
            name: ' Harshil Patel',
            affiliation: '',
            email: '',
            github: '',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
    ]
    homePage        = 'https://github.com/nf-core/proteinfold'
    description     = """Protein 3D structure prediction pipeline"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.10.5'
    version         = '1.2.0dev'
    doi             = '10.5281/zenodo.7629996'
}

// Nextflow plugins
// Temporary fix for CI to pass with nextflow edge version until fix
// TODO: Update schema version again when fixed
plugins {
    id 'nf-schema@2.4.2' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs = params.monochrome_logs
    help {
        enabled = true
        command = "nextflow run nf-core/proteinfold -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
        beforeText = """
-\033[2m----------------------------------------------------\033[0m-
                                        \033[0;32m,--.\033[0;30m/\033[0;32m,-.\033[0m
\033[0;34m        ___     __   __   __   ___     \033[0;32m/,-._.--~\'\033[0m
\033[0;34m  |\\ | |__  __ /  ` /  \\ |__) |__         \033[0;33m}  {\033[0m
\033[0;34m  | \\| |       \\__, \\__/ |  \\ |___     \033[0;32m\\`-._,-`-,\033[0m
                                        \033[0;32m`._,._,\'\033[0m
\033[0;35m  nf-core/proteinfold ${manifest.version}\033[0m
-\033[2m----------------------------------------------------\033[0m-
"""
        afterText = """${manifest.doi ? "\n* The pipeline\n" : ""}${manifest.doi.tokenize(",").collect { "    https://doi.org/${it.trim().replace('https://doi.org/','')}"}.join("\n")}${manifest.doi ? "\n" : ""}
* The nf-core framework
    https://doi.org/10.1038/s41587-020-0439-x

* Software dependencies
    https://github.com/nf-core/proteinfold/blob/master/CITATIONS.md
"""
    }
    summary {
        beforeText = validation.help.beforeText
        afterText = validation.help.afterText
    }
}

if (params.mode.toLowerCase().split(",").contains("alphafold2"))
    { params.alphafold2_db = params.alphafold2_db ?: params.db }
if (params.mode.toLowerCase().split(",").contains("alphafold3"))
    { params.alphafold3_db = params.alphafold3_db ?: params.db }
if (params.mode.toLowerCase().split(",").contains("colabfold"))
    { params.colabfold_db = params.colabfold_db ?: params.db }
if (params.mode.toLowerCase().split(",").contains("esmfold"))
    { params.esmfold_db = params.esmfold_db ?: params.db }
if (params.mode.toLowerCase().split(",").contains("rosettafold_all_atom"))
    { params.rosettafold_all_atom_db = params.rosettafold_all_atom_db ?: params.db }
if (params.mode.toLowerCase().split(",").contains("helixfold3"))
    { params.helixfold3_db = params.helixfold3_db ?: params.db }
if (params.mode.toLowerCase().split(",").contains("boltz")) {
    params.boltz_db = params.boltz_db ?: params.db
    params.colabfold_db = params.colabfold_db ?: params.db
}
// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Load modules config for pipeline specific modes
params.mode.toLowerCase().split(",").contains("alphafold2") ?
    includeConfig('conf/modules_alphafold2.config') : "/dev/null"
params.mode.toLowerCase().split(",").contains("alphafold3") ?
    includeConfig('conf/modules_alphafold3.config') : "/dev/null"
params.mode.toLowerCase().split(",").contains("colabfold") ?
    includeConfig ('conf/modules_colabfold.config') : "/dev/null"
params.mode.toLowerCase().split(",").contains("esmfold") ?
    includeConfig ('conf/modules_esmfold.config') : "/dev/null"
params.mode.toLowerCase().split(",").contains("rosettafold_all_atom") ?
    includeConfig ('conf/modules_rosettafold_all_atom.config') : "/dev/null"
params.mode.toLowerCase().split(",").contains("helixfold3") ?
    includeConfig ('conf/modules_helixfold3.config') : "/dev/null"
params.mode.toLowerCase().split(",").contains("boltz") ?
    includeConfig ('conf/modules_boltz.config') : "/dev/null"

// Load links to DBs and parameters
includeConfig 'conf/dbs.config'
