/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/proteinfold'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners

// Set registry to quay.io (default for nfcore)
// Images should be available at quay.io/nfcore/...
docker.registry = 'quay.io'
apptainer.registry = 'quay.io'

// Specify containers for nf-test execution
process {
    withName: 'RUN_ALPHAFOLD2_MSA' {
        container = 'nf-core/proteinfold_alphafold2_standard:2.0.0'
    }
    withName: 'RUN_ALPHAFOLD2_PRED' {
        container = 'nf-core/proteinfold_alphafold2_standard:2.0.0'
    }
}
