/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/proteinfold'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners

apptainer.enabled = true

// Set registry to quay.io (default for nfcore)
// Images should be available at quay.io/nfcore/...
apptainer.registry = 'quay.io'

// Specify containers for nf-test execution
process {
    withName: 'RUN_ALPHAFOLD2_MSA' {
        container = 'nf-core/proteinfold_alphafold2_msa:2.0.0'
    }
    withName: 'RUN_ALPHAFOLD2_PRED' {
        container = 'nf-core/proteinfold_alphafold2_pred:2.0.0'
    }
    withName: 'RUN_ESMFOLD' {
        container = 'nf-core/proteinfold_esmfold:2.0.0'
    }
    withName: 'RUN_COLABFOLD' {
        container = 'nf-core/proteinfold_colabfold:2.0.0'
    }
    withName: 'RUN_HELIXFOLD3' {
        container = 'nf-core/proteinfold_helixfold3:2.0.0'
    }
    withName: 'RUN_ALPHAFOLD3' {
        container = 'nf-core/proteinfold_alphafold3_standard:2.0.0'
    }
    withName: 'RUN_ROSETTAFOLD_ALL_ATOM' {
        container = 'nf-core/proteinfold_rosetta_all_atom:2.0.0'
    }
    withName: 'RUN_ROSETTAFOLD2NA' {
        container = 'nf-core/proteinfold_rosettafold2na:2.0.0'
    }
}
