/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    //pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/proteinfold/'
    //TODO: revert to nfcore path when ready
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/tlitfin/test-datasets/refs/heads/proteinfold/'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners

profiles {
    gpu {
        process {
            withLabel: 'process_gpu' {
                accelerator = { params.use_gpu ? 1 : 0 }
                containerOptions = {
                    workflow.containerEngine in ['singularity', 'apptainer'] ?
                    '--nv' :
                    workflow.containerEngine == 'docker' ?
                    '--gpus all' :
                    ''
                }
            }
        }
    }
}
