
profiles {
	crg_cpu {
		executor.name = 'sge'
		process{
			withLabel:customConf {
				memory = "20 GB"
				cpus = 8
				queue = 'long-sl7'
				time = 72.h
			}
		}	
		singularity {
			enabled = true
			runOptions = "--bind ${params.db}:/db "
			autoMounts = true

		}	
	}
	crg_gpu {
		executor.name = 'sge'
		process {
			withLabel:customConf {
				memory = "20 GB"
				cpus = 1
				//queue = 'gpu'
				clusterOptions = '-q gpu,gpu_long -l gpu=1'
			}
		}
		singularity {
		enabled = true
		runOptions = "--bind ${params.db}:/db --nv"
		autoMounts = true
		}
		}
}
