
profiles {
    crg_cpu {
        executor.name = 'crg'
        process {
            withName:MULTIQC {
                queue = 'short-sl7'
                time = 3.h
            }
            withLabel:customConf {
                memory = "30 GB"
                cpus = 8
                queue = 'long-sl7,cn-el7@node-hp0700cn,cn-el7@node-hp0704cn'
                time = 24.h
            }
            withLabel:long {
                queue = 'long-sl7,cn-el7'
                memory = "10 GB"
                time = 24.h
            }
            withLabel:high {
                queue = 'mem_512_12h'
                memory = "400 GB"
                time = 12.h
                cpus = 8
            }
        }
        singularity {
            enabled = true
            autoMounts = false
        }
    }
    crg_gpu {
        executor.name = 'crg'
        process {
            withName:MULTIQC {
                queue = 'short-sl7'
                time = 3.h
            }
            withLabel:customConf {
                memory = "20 GB"
                cpus = 1
                //queue = 'gpu'
                clusterOptions = '-q gpu_long -l gpu=1'
            }
            withLabel:long {
                queue = 'long-sl7,cn-el7'
                memory = "10 GB"
                time = 24.h
            }
            withLabel:high {
                queue = 'mem_512_12h'
                memory = "400 GB"
                time = 6.h
                cpus = 8
            }
        }
        singularity {
        enabled = true
        runOptions = "--nv"
        autoMounts = false
        }
    }
}
