process {
    executor = 'crg'
    queue = { task.queue == 'gpu' ? 'gpu' : 'long-sl7' }
    clusterOptions = { ( task.queue == 'gpu' ? '-l gpu=1' : '' ) }
    withLabel: 'process_single' { queue = 'short-sl7,long-sl7' }
    withLabel: 'process_high_memory' {
        queue = 'mem_512,mem_512_12h'
        memory = "400 GB"
        cpus = 8
        time = '12h'
    }
    withLabel: 'process_medium' {
        cpus = 1
        memory = "30 GB"
    }
}
