/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for database links and paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Centralizes URLs and local paths for all external resources used in the workflow.
    Update version numbers and base directories in one place for maintainability.
----------------------------------------------------------------------------------------
*/

params {

    // Dated prefixes, can be modified for alternate versions
    alphafold2_params_prefix   = "alphafold_params_2022-12-06"
    uniref30_prefix            = "UniRef30_2023_02"

    // AlphaFold2 links
    alphafold2_bfd_link             = 'https://storage.googleapis.com/alphafold-databases/casp14_versions/bfd_metaclust_clu_complete_id30_c90_final_seq.sorted_opt.tar.gz'
    alphafold2_small_bfd_link       = 'https://storage.googleapis.com/alphafold-databases/reduced_dbs/bfd-first_non_consensus_sequences.fasta.gz'
    alphafold2_params_link          = 'https://storage.googleapis.com/alphafold/alphafold_params_2022-12-06.tar'
    alphafold2_mgnify_link          = 'https://ftp.ebi.ac.uk/pub/databases/metagenomics/peptide_database/2024_04/mgy_clusters.fa.gz'
    alphafold2_pdb70_link           = 'https://wwwuser.gwdguser.de/~compbiol/data/hhsuite/databases/hhsuite_dbs/pdb70_from_mmcif_220313.tar.gz'
    alphafold2_pdb_mmcif_link       = 'rsync.rcsb.org::ftp_data/structures/divided/mmCIF/' //Other sources available: 'rsync.rcsb.org::ftp_data/structures/divided/mmCIF/' ftp.pdbj.org::ftp_data/structures/divided/mmCIF/ rsync.ebi.ac.uk::pub/databases/pdb/data/structures/divided/mmCIF/
    alphafold2_pdb_obsolete_link    = 'https://files.wwpdb.org/pub/pdb/data/status/obsolete.dat'
    alphafold2_uniref30_link        = 'https://wwwuser.gwdguser.de/~compbiol/uniclust/2023_02/UniRef30_2023_02_hhsuite.tar.gz'
    alphafold2_uniref90_link        = 'https://ftp.ebi.ac.uk/pub/databases/uniprot/uniref/uniref90/uniref90.fasta.gz'
    alphafold2_pdb_seqres_link      = 'https://files.wwpdb.org/pub/pdb/derived_data/pdb_seqres.txt'
    alphafold2_uniprot_sprot_link   = 'https://ftp.ebi.ac.uk/pub/databases/uniprot/current_release/knowledgebase/complete/uniprot_sprot.fasta.gz'
    alphafold2_uniprot_trembl_link  = 'https://ftp.ebi.ac.uk/pub/databases/uniprot/current_release/knowledgebase/complete/uniprot_trembl.fasta.gz'

    // Alphafold2 paths
    alphafold2_bfd_path             = "${params.alphafold2_db}/bfd/*"
    alphafold2_small_bfd_path       = "${params.alphafold2_db}/small_bfd/*"
    alphafold2_params_path          = "${params.alphafold2_db}/params/${params.alphafold2_params_prefix}/*"
    alphafold2_mgnify_path          = "${params.alphafold2_db}/mgnify/*"
    alphafold2_pdb70_path           = "${params.alphafold2_db}/pdb70/**"
    alphafold2_pdb_mmcif_path       = "${params.alphafold2_db}/pdb_mmcif/mmcif_files"
    alphafold2_pdb_obsolete_path    = "${params.alphafold2_db}/pdb_mmcif/obsolete.dat"
    alphafold2_uniref30_path        = "${params.alphafold2_db}/uniref30/*"
    alphafold2_uniref90_path        = "${params.alphafold2_db}/uniref90/*"
    alphafold2_pdb_seqres_path      = "${params.alphafold2_db}/pdb_seqres/*"
    alphafold2_uniprot_path         = "${params.alphafold2_db}/uniprot/*"

    // Alphafold3 links
    alphafold3_small_bfd_link  = 'https://storage.googleapis.com/alphafold-databases/v3.0/bfd-first_non_consensus_sequences.fasta.zst'
    alphafold3_mgnify_link     = 'https://storage.googleapis.com/alphafold-databases/v3.0/mgy_clusters_2022_05.fa.zst'
    alphafold3_pdb_mmcif_link  = 'https://storage.googleapis.com/alphafold-databases/v3.0/pdb_2022_09_28_mmcif_files.tar.zst'
    alphafold3_uniref90_link   = 'https://storage.googleapis.com/alphafold-databases/v3.0/uniref90_2022_05.fa.zst'
    alphafold3_pdb_seqres_link = 'https://storage.googleapis.com/alphafold-databases/v3.0/pdb_seqres_2022_09_28.fasta.zst'
    alphafold3_uniprot_link    = 'https://storage.googleapis.com/alphafold-databases/v3.0/uniprot_all_2021_04.fa.zst'

    // Alphafold3 paths
    alphafold3_small_bfd_path  = "${params.alphafold3_db}/small_bfd/*"
    alphafold3_params_path     = "${params.alphafold3_db}/params/*"
    alphafold3_mgnify_path     = "${params.alphafold3_db}/mgnify/*"
    alphafold3_pdb_mmcif_path  = "${params.alphafold3_db}/mmcif_files"
    alphafold3_uniref90_path   = "${params.alphafold3_db}/uniref90/*"
    alphafold3_pdb_seqres_path = "${params.alphafold3_db}/pdb_seqres/*"
    alphafold3_uniprot_path    = "${params.alphafold3_db}/uniprot/*"

    // Boltz links
    boltz_ccd_link           = 'https://huggingface.co/boltz-community/boltz-1/resolve/main/ccd.pkl'
    boltz_model_link         = 'https://huggingface.co/boltz-community/boltz-1/resolve/main/boltz1_conf.ckpt'
    boltz2_aff_link          = 'https://huggingface.co/boltz-community/boltz-2/resolve/main/boltz2_aff.ckpt'
    boltz2_conf_link         = 'https://huggingface.co/boltz-community/boltz-2/resolve/main/boltz2_conf.ckpt'
    boltz2_mols_link         = 'https://huggingface.co/boltz-community/boltz-2/resolve/main/mols.tar'

    // Boltz paths
    boltz_ccd_path           = "${params.boltz_db}/params/ccd.pkl"
    boltz_model_path         = "${params.boltz_db}/params/boltz1_conf.ckpt"
    boltz2_aff_path          = "${params.boltz_db}/params/boltz2_aff.ckpt"
    boltz2_conf_path         = "${params.boltz_db}/params/boltz2_conf.ckpt"
    boltz2_mols_path         = "${params.boltz_db}/params/mols/"

    // Colabfold links
    colabfold_db_link       = 'http://wwwuser.gwdg.de/~compbiol/colabfold/colabfold_envdb_202108.tar.gz'
    colabfold_uniref30_link = 'https://wwwuser.gwdg.de/~compbiol/colabfold/uniref30_2302.tar.gz'

    // Colabfold paths
    colabfold_envdb_path             = "${params.colabfold_db}/colabfold_envdb/*"
    colabfold_uniref30_path          = "${params.colabfold_db}/colabfold_uniref30/*"
    // Are all these params options needed?
    colabfold_alphafold2_params_tags = [
        "alphafold2_multimer_v1" : "alphafold_params_colab_2021-10-27",
        "alphafold2_multimer_v2" : "alphafold_params_colab_2022-03-02",
        "alphafold2_multimer_v3" : "alphafold_params_colab_2022-12-06",
        "alphafold2_ptm"         : "alphafold_params_2021-07-14"
    ]

    // RoseTTAFold_All_Atom links
    rosettafold_all_atom_uniref30_link      = 'https://wwwuser.gwdguser.de/~compbiol/uniclust/2023_02/UniRef30_2023_02_hhsuite.tar.gz'
    rosettafold_all_atom_pdb100_link        = 'https://files.ipd.uw.edu/pub/RoseTTAFold/pdb100_2021Mar03.tar.gz'
    rosettafold_all_atom_bfd_link           = 'https://bfd.mmseqs.com/bfd_metaclust_clu_complete_id30_c90_final_seq.sorted_opt.tar.gz'
    rosettafold_all_atom_paper_weights_link = 'http://files.ipd.uw.edu/pub/RF-All-Atom/weights/RFAA_paper_weights.pt'

    // RoseTTAFold_All_Atom paths
    rosettafold_all_atom_uniref30_path      = "${params.rosettafold_all_atom_db}/uniref30/*"
    rosettafold_all_atom_pdb100_path        = "${params.rosettafold_all_atom_db}/pdb100/*"
    rosettafold_all_atom_bfd_path           = "${params.rosettafold_all_atom_db}/bfd/*"
    rosettafold_all_atom_paper_weights_path = "${params.rosettafold_all_atom_db}/params/RFAA_paper_weights.pt"

    // Helixfold3 links
    helixfold3_uniclust30_link          = 'https://wwwuser.gwdguser.de/~compbiol/uniclust/2023_02/UniRef30_2023_02_hhsuite.tar.gz'
    helixfold3_ccd_preprocessed_link    = 'https://paddlehelix.bd.bcebos.com/HelixFold3/CCD/ccd_preprocessed_etkdg.pkl.gz'
    helixfold3_rfam_link                = 'https://paddlehelix.bd.bcebos.com/HelixFold3/MSA/Rfam-14.9_rep_seq.fasta'
    helixfold3_init_models_link         = 'https://paddlehelix.bd.bcebos.com/HelixFold3/params/HelixFold3-params-240814.zip'
    helixfold3_bfd_link                 = 'https://storage.googleapis.com/alphafold-databases/casp14_versions/bfd_metaclust_clu_complete_id30_c90_final_seq.sorted_opt.tar.gz'
    helixfold3_small_bfd_link           = 'https://storage.googleapis.com/alphafold-databases/reduced_dbs/bfd-first_non_consensus_sequences.fasta.gz'
    helixfold3_uniprot_sprot_link       = 'ftp://ftp.ebi.ac.uk/pub/databases/uniprot/current_release/knowledgebase/complete/uniprot_sprot.fasta.gz'
    helixfold3_uniprot_trembl_link      = 'ftp://ftp.ebi.ac.uk/pub/databases/uniprot/current_release/knowledgebase/complete/uniprot_trembl.fasta.gz'
    helixfold3_pdb_seqres_link          = 'https://files.wwpdb.org/pub/pdb/derived_data/pdb_seqres.txt'
    helixfold3_uniref90_link            = 'ftp://ftp.uniprot.org/pub/databases/uniprot/uniref/uniref90/uniref90.fasta.gz'
    // TODO should be updated to 2022_05 as in alphafold2?
    helixfold3_mgnify_link              = 'https://ftp.ebi.ac.uk/pub/databases/metagenomics/peptide_database/2024_04/mgy_clusters.fa.gz'
    helixfold3_pdb_mmcif_link           = 'rsync.rcsb.org::ftp_data/structures/divided/mmCIF/'
    helixfold3_obsolete_link            = 'https://files.rcsb.org/pub/pdb/data/status/obsolete.dat'
    helixfold3_maxit_src_link           = 'https://proteinfold-dataset.s3.amazonaws.com/test-data/db/helixfold3/maxit-v11.200-prod-src.tar.gz'

    // Helixfold3 paths
    helixfold3_uniclust30_path          = "${params.helixfold3_db}/uniref30/*"
    helixfold3_ccd_preprocessed_path    = "${params.helixfold3_db}/params/ccd_preprocessed_etkdg.pkl.gz"
    helixfold3_rfam_path                = "${params.helixfold3_db}/rfam/Rfam-14.9_rep_seq.fasta"
    helixfold3_init_models_path         = "${params.helixfold3_db}/params/HelixFold3-240814.pdparams"
    helixfold3_bfd_path                 = "${params.helixfold3_db}/bfd/*"
    helixfold3_small_bfd_path           = "${params.helixfold3_db}/small_bfd/*"
    helixfold3_uniprot_path             = "${params.helixfold3_db}/uniprot/*"
    helixfold3_pdb_seqres_path          = "${params.helixfold3_db}/pdb_seqres/*"
    helixfold3_uniref90_path            = "${params.helixfold3_db}/uniref90/*"
    helixfold3_mgnify_path              = "${params.helixfold3_db}/mgnify/*"
    helixfold3_pdb_mmcif_path           = "${params.helixfold3_db}/pdb_mmcif/mmcif_files"
    helixfold3_obsolete_path            = "${params.helixfold3_db}/pdb_mmcif/obsolete.dat"
    helixfold3_maxit_src_path           = "${params.helixfold3_db}/maxit-v11.200-prod-src"

    // Esmfold links
    esmfold_3B_v1                        = 'https://dl.fbaipublicfiles.com/fair-esm/models/esmfold_3B_v1.pt'
    esm2_t36_3B_UR50D                    = 'https://dl.fbaipublicfiles.com/fair-esm/models/esm2_t36_3B_UR50D.pt'
    esm2_t36_3B_UR50D_contact_regression = 'https://dl.fbaipublicfiles.com/fair-esm/regression/esm2_t36_3B_UR50D-contact-regression.pt'

    // Esmfold paths
    esmfold_params_path                  = "${params.esmfold_db}/params/*"

    // Foldseek databases paths
    foldseek_db      = null
    foldseek_db_path = null

}
