/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // Configure processes to use correct directory names
    withName: '.*PREPARE_ESMFOLD_DBS:ARIA2_.*' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/params" },
            pattern: '*.pt',
        ]
    }
    withName: 'RUN_ESMFOLD' {
        if (params.use_gpu) {
            accelerator = 1
        }
        ext.args    = { params.use_gpu ? '' : '--cpu-only' }
        containerOptions = {
          workflow.containerEngine in ['singularity', 'apptainer'] ?
          '--nv --env TRITON_CACHE_DIR=/tmp/triton_cache --env XDG_CACHE_HOME=/tmp' :
          ''
        }
        publishDir = [
            [
                path: { "${params.outdir}/esmfold/${meta.id}" },
                mode: 'copy',
                pattern: '*_plddt.tsv'
            ],
            [
                path: { "${params.outdir}/esmfold/top_ranked_structures" },
                mode: 'copy',
                saveAs: { "${meta.id}.pdb" },
                pattern: '*_esmfold.pdb'
            ]
        ]
    }

    withName: 'NFCORE_PROTEINFOLD:ESMFOLD:MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : "esmfold_$filename" }
        ]
    }

}
