/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // Provide args plus configure processes to use correct directory names
    // for Boltz parameters and models, which are downloaded as part of the workflow
    withName: '.*ARIA2_COLABFOLD_PARAMS:UNTAR' {
        ext.prefix = { "${params.colabfold_params_prefix}" }
        publishDir = [
            path: {"${params.outdir}/DBs/${params.mode}/params"},
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: '.*ARIA2_COLABFOLD_DB:UNTAR' {
        ext.prefix = 'colabfold_envdb'
    }
    withName: '.*PREPARE_COLABFOLD_DBS:ARIA2_UNIREF30:UNTAR' {
        ext.prefix = 'colabfold_uniref30'
    }
    withName: 'ARIA2_BOLTZ_CCD' {
        ext.args   = '-o ccd.pkl'
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/params" },
            pattern: 'ccd.pkl',
        ]
    }
    withName: 'ARIA2_BOLTZ_MODEL' {
        ext.args   = '-o boltz1_conf.ckpt'
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/params" },
            pattern: 'boltz1_conf.ckpt',
        ]
    }
    withName: 'ARIA2_BOLTZ2_AFF' {
        ext.args   = '-o boltz2_aff.ckpt'
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/params" },
            pattern: 'boltz2_aff.ckpt',
        ]
    }
    withName: 'ARIA2_BOLTZ2_CONF' {
        ext.args   = '-o boltz2_conf.ckpt'
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/params" },
            pattern: 'boltz2_conf.ckpt',
        ]
    }
    withName: '.*ARIA2_UNCOMPRESS:ARIA2' {
        ext.args   = '-o mols.tar'
    }
    withName: '.*PREPARE_BOLTZ_DBS:ARIA2_UNCOMPRESS:UNTAR' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/params" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: 'RUN_BOLTZ' {
        if (params.use_gpu) {
            accelerator = 1
        }
        ext.args = [
            params.boltz_model          ? "--model ${params.boltz_model}"             : "",
            params.use_msa_server       ? "--use_msa_server"                          : "",
            params.msa_server_url       ? "--msa_server_url ${params.msa_server_url}" : "",
            params.boltz_use_potentials ? "--use_potentials"                          : "",
            params.boltz_use_kernels    ? ""                                          : "--no_kernels",
            "--write_full_pae",
        ].findAll { arg -> arg }.join(' ').trim()

        publishDir = [
            [
                path: { "${params.outdir}/boltz/top_ranked_structures" },
                mode: 'copy',
                saveAs: { _filename -> "${meta.id}.pdb" },
                pattern: '*_boltz.pdb'
            ],
            [
                enabled: params.save_intermediates,
                path: { "${params.outdir}/boltz/${meta.id}" },
                mode: 'copy',
                pattern: 'boltz_results_*',
            ],
        ]
    }

    withName: 'EXTRACT_METRICS_BOLTZ' {
        publishDir = [
            [
                path: { "${params.outdir}/boltz/${meta.id}" },
                mode: 'copy',
                pattern: '*_plddt.tsv'
            ],
            [
                path: { "${params.outdir}/boltz/${meta.id}" },
                mode: 'copy',
                pattern: '*_boltz_msa.tsv'
            ],
            [
                path: { "${params.outdir}/boltz/${meta.id}" },
                mode: 'copy',
                pattern: '*{ptm,iptm}.tsv'
            ],
            [
                path: { "${params.outdir}/boltz/${meta.id}/paes" },
                mode: 'copy',
                pattern: '*_[0-5]_pae.tsv'
            ]
        ]
    }

    withName: 'NFCORE_PROTEINFOLD:BOLTZ:MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : "boltz_$filename" }
        ]
    }

    withName: 'BOLTZ_FASTA|MULTIFASTA_TO_CSV|SPLIT_MSA' {
        cpus   = 1
        memory = 2.GB
        time   = 1.h
    }
}
