/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'RUN_BOLTZ' {
        ext.args = '--write_full_pae --output_format pdb --use_msa_server'
        publishDir = [
            [
                path: { "${params.outdir}/boltz/default" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: '*.*'
            ],
            [
                path: { "${params.outdir}/boltz/default/top_ranked_structures" },
                mode: 'copy',
                saveAs: { "${meta.id}.pdb" },
                pattern: '*.pdb'
            ]
        ]
    }

    withName: 'NFCORE_PROTEINFOLD:BOLTZ:MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : "boltz_$filename" }
        ]
    }

    withName: 'BOLTZ_FASTA|MULTIFASTA_TO_CSV|SPLIT_MSA' {
        cpus   = 1
        memory = 2.GB
        time   = 1.h
    }
}
