/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // Configure UNTAR/GUNZIP processes to use correct directory names
    withName: '.*PREPARE_HELIXFOLD3_DBS:ARIA2_UNICLUST30:UNTAR' {
        ext.prefix = 'uniref30'
    }
    withName: '.*PREPARE_HELIXFOLD3_DBS:ARIA2_INIT_MODELS:UNZIP' {
        ext.prefix = '.'
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}" },
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    return null
                }
                return filename.replaceAll(/HelixFold3-params-240814/, 'params/')
            },
        ]
    }
    withName: '.*PREPARE_HELIXFOLD3_DBS:ARIA2_CCD_PREPROCESSED:ARIA2' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/params" },
            pattern: '*.pkl.gz',
        ]
    }
    withName: '.*PREPARE_HELIXFOLD3_DBS:ARIA2_RFAM:ARIA2' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/rfam" },
            pattern: '*.fasta',
        ]
    }
    withName: '.*PREPARE_HELIXFOLD3_DBS:ARIA2_SMALL_BFD:GUNZIP' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/small_bfd" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: '.*PREPARE_HELIXFOLD3_DBS:ARIA2_BFD:UNTAR' {
        ext.prefix = 'bfd'
    }
    withName: '.*PREPARE_HELIXFOLD3_DBS:COMBINE_UNIPROT' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/uniprot" },
            pattern: 'uniprot.fasta',
        ]
    }
    withName: '.*PREPARE_HELIXFOLD3_DBS:ARIA2_PDB_SEQRES' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/pdb_seqres" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: '.*PREPARE_HELIXFOLD3_DBS:ARIA2_UNIREF90:GUNZIP' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/uniref90" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: '.*PREPARE_HELIXFOLD3_DBS:ARIA2_MGNIFY:GUNZIP' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/mgnify" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: '.*PREPARE_HELIXFOLD3_DBS:DOWNLOAD_PDBMMCIF' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/pdb_mmcif" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: '.*PREPARE_HELIXFOLD3_DBS:ARIA2_OBSOLETE:ARIA2' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/pdb_mmcif"},
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: '.*PREPARE_HELIXFOLD3_DBS:ARIA2_RFAM:ARIA2' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/rfam" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: '.*PREPARE_HELIXFOLD3_DBS:ARIA2_MAXIT:UNTAR' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}"},
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: 'RUN_HELIXFOLD3' {
        if (params.use_gpu) {
            accelerator = 1
        }
        ext.args    = [
            params.helixfold3_max_template_date ? "--max_template_date=${params.helixfold3_max_template_date}" : "--max_template_date=2038-01-19",
            "--model_name allatom_demo",
            // params.helixfold3_full_dbs   ? "--preset 'full_dbs'"                             : "--preset 'reduced_dbs'", // Not supported yet
            "--preset 'reduced_dbs'", // Always use reduced_dbs for now
            "--logging_level 'ERROR'",
            params.helixfold3_precision  ? "--precision ${params.helixfold3_precision}"      : "--precision 'bf16'",
            params.helixfold3_infer_times ? "--infer_times ${params.helixfold3_infer_times}" : "--infer_times 4"
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/helixfold3/${meta.id}" },
                mode: 'copy',
                pattern: '*_plddt.tsv'
            ],
            [
                path: { "${params.outdir}/helixfold3/${meta.id}" },
                mode: 'copy',
                pattern: '*_ptm.tsv'
            ],
            [
                path: { "${params.outdir}/helixfold3/${meta.id}" },
                mode: 'copy',
                pattern: '*_iptm.tsv'
            ],
            [
                path: { "${params.outdir}/helixfold3/${meta.id}" },
                mode: 'copy',
                saveAs: { filename -> "paes/$filename" },
                pattern: '*_[1-5]_pae.tsv'
            ],
            [
                path: { "${params.outdir}/helixfold3/${meta.id}" },
                mode: 'copy',
                pattern: '*_helixfold3_msa.tsv'
            ],
            [
                enabled: params.save_intermediates,
                path: { "${params.outdir}/helixfold3/${meta.id}/raw" },
                mode: 'copy',
                pattern: 'raw/**',
                saveAs: { filename -> filename.toString().replaceFirst(/^raw\//, '') }
            ],
            [
                path: { "${params.outdir}/helixfold3/top_ranked_structures" },
                mode: 'copy',
                saveAs: { "${meta.id}.pdb" },
                pattern: '*_helixfold3.pdb'
            ],
            [
                path: { "${params.outdir}/helixfold3/top_ranked_structures" },
                mode: 'copy',
                saveAs: { "${meta.id}.cif" },
                pattern: '*_helixfold3.cif'
            ]
        ]
    }

    withName: 'NFCORE_PROTEINFOLD:HELIXFOLD3:MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : "helixfold3_$filename" }
        ]
    }
}
