/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'GUNZIP|ARIA2_PDB_SEQRES' {
        publishDir = [
            path: {"${params.outdir}/DBs/rosettafold_all_atom/"},
            mode: 'symlink',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: 'RUN_ROSETTAFOLD_ALL_ATOM' {
        accelerator = { params.use_gpu? 1 : null }
        publishDir  = [
            [
                path: { "${params.outdir}/rosettafold_all_atom/${meta.id}" },
                mode: 'copy',
                pattern: '*_plddt.tsv'
            ],
            [
                path: { "${params.outdir}/rosettafold_all_atom/${meta.id}" },
                mode: 'copy',
                saveAs: { filename -> "paes/$filename" },
                pattern: '*_[0-5]_pae.tsv'
            ],
            [
                path: { "${params.outdir}/rosettafold_all_atom/${meta.id}" },
                mode: 'copy',
                pattern: '*_rosettafold_all_atom_msa.tsv'
            ],
            [
                enabled: params.save_intermediates,
                path: { "${params.outdir}/rosettafold_all_atom/${meta.id}/raw" },
                mode: 'copy',
                pattern: 'raw/**',
                saveAs: { filename -> filename.toString().replaceFirst(/^raw\//, '') }
            ],
            [
                path: { "${params.outdir}/rosettafold_all_atom/top_ranked_structures" },
                mode: 'copy',
                saveAs: { "${meta.id}.pdb" },
                pattern: '*_rosettafold_all_atom.pdb'
            ]
        ]
    }

    withName: 'NFCORE_PROTEINFOLD:ROSETTAFOLD_ALL_ATOM:MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : "rosettafold_all_atom_$filename" }
        ]
    }

    // Configure UNTAR processes to use correct directory names
    withName: '.*PREPARE_ROSETTAFOLD_ALL_ATOM_DBS:ARIA2_WEIGHTS:ARIA2' {
        publishDir = [
            path: {"${params.outdir}/DBs/${params.mode}/params"},
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: '.*PREPARE_ROSETTAFOLD_ALL_ATOM_DBS:ARIA2_UNIREF30:UNTAR' {
        ext.prefix = 'uniref30'
    }
    withName: '.*PREPARE_ROSETTAFOLD_ALL_ATOM_DBS:ARIA2_PDB100:UNTAR' {
        ext.prefix = 'pdb100'
    }
    withName: '.*PREPARE_ROSETTAFOLD_ALL_ATOM_DBS:ARIA2_BFD:UNTAR' {
        ext.prefix = 'bfd'
    }
}
