/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// General configuration options
//

process {
    withName: 'GUNZIP' {
        publishDir = [
            path: {"${params.outdir}/DBs/alphafold3/${params.alphafold3_mode}"},
            mode: 'symlink',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    //TODO publish result and set mode to symlink
    withName: 'ZSTD_DECOMPRESS' {
        ext.args = '--force'
    }
    withName: 'NFCORE_PROTEINFOLD:ALPHAFOLD3:MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : "alphafold3_$filename" }
        ]
    }
}

//
// Module specific configuration options
//
process {
    withName: 'RUN_ALPHAFOLD3' {
        if(params.use_gpu) { accelerator = 1 }
        publishDir = [
            path: { "${params.outdir}/alphafold3" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
