/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // ColabFold database download configs (shared with other modes)
    withName: '.*ARIA2_COLABFOLD_PARAMS:UNTAR' {
        ext.prefix = { "${params.colabfold_alphafold2_params_tags[params.colabfold_model_preset] }" }
        publishDir = [
            path: {"${params.outdir}/DBs/${params.mode}/params"},
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: '.*ARIA2_COLABFOLD_DB:UNTAR' {
        ext.prefix = 'colabfold_envdb'
    }
    withName: '.*PREPARE_COLABFOLD_DBS:ARIA2_UNIREF30:UNTAR' {
        ext.prefix = 'colabfold_uniref30'
    }
    withName: 'ARIA2_PROTENIX_MODEL' {
        ext.args   = '-o protenix_base_default_v1.0.0.pt'
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/params" },
            pattern: 'protenix_base_default_v1.0.0.pt',
        ]
    }
    withName: 'ARIA2_PROTENIX_CCD' {
        ext.args   = '-o components.cif'
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/params" },
            pattern: 'components.cif',
        ]
    }
    withName: 'ARIA2_PROTENIX_CCD_RDKIT' {
        ext.args   = '-o components.cif.rdkit_mol.pkl'
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/params" },
            pattern: 'components.cif.rdkit_mol.pkl',
        ]
    }
    withName: 'ARIA2_PROTENIX_CLUSTERS' {
        ext.args   = '-o clusters-by-entity-40.txt'
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/params" },
            pattern: 'clusters-by-entity-40.txt',
        ]
    }
    withName: 'ARIA2_PROTENIX_OBSOLETE' {
        ext.args   = '-o obsolete_release_date.csv'
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/params" },
            pattern: 'obsolete_release_date.csv',
        ]
    }
    withName: 'RUN_PROTENIX' {
        if (params.use_gpu) {
            accelerator = 1
        }
        ext.args = [
            params.protenix_use_template ? "--use_template true" : "",
            "--use_default_params true",
        ].findAll { arg -> arg }.join(' ').trim()

        publishDir = [
            [
                path: { "${params.outdir}/protenix/${meta.id}" },
                mode: 'copy',
                pattern: '*_plddt.tsv'
            ],
            [
                path: { "${params.outdir}/protenix/${meta.id}" },
                mode: 'copy',
                pattern: '*{ptm,iptm}.tsv'
            ],
            [
                path: { "${params.outdir}/protenix/${meta.id}/paes" },
                mode: 'copy',
                pattern: '*_[0-5]_pae.tsv'
            ],
            [
                path: { "${params.outdir}/protenix/top_ranked_structures" },
                mode: 'copy',
                saveAs: { _filename -> "${meta.id}.pdb" },
                pattern: '*_protenix.pdb'
            ],
            [
                enabled: params.save_intermediates,
                path: { "${params.outdir}/protenix/${meta.id}" },
                mode: 'copy',
                pattern: 'protenix_output',
            ],
        ]
    }

    withName: 'PROTENIX_FASTA|MULTIFASTA_TO_CSV|SPLIT_MSA' {
        cpus   = 1
        memory = 2.GB
        time   = 1.h
    }

    withName: 'NFCORE_PROTEINFOLD:PROTENIX:MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : "protenix_$filename" }
        ]
    }
}
