/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// General configuration options
//

process {
    withName: 'TCRDOCK_SAMPLESHEET_PARSE' {
        ext.args   = ''
    }

    withName: 'TCRDOCK_SETUP' {
        ext.args   = [
            params.num_runs ? "--num_runs ${params.num_runs}" : '',
            params.benchmark ? '--benchmark' : '',
            params.exclude_pdbids_column ? "--exclude_pdbids_column ${params.exclude_pdbids_column}" : '',
            params.new_docking ? '--new_docking' : '',
        ].join(' ').trim()
    }

    withName: 'TCRDOCK_PREDICTION' {
        ext.args   = [
            params.verbose ? '--verbose' : '',
            params.ignore_identities ? '--ignore_identities' : '',
            params.no_pdbs ? '--no_pdbs' : '',
            params.terse ? '--terse' : '',
            params.no_resample_msa ? '--no_resample_msa' : '',
        ].join(' ').trim()
    }

    withName: 'TCRDOCK_ADD_PMHC_TCR_PAE' {
        ext.args   = ''
    }
}
