/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'RUN_BOLTZ' {
        ext.args = [
            params.boltz_model                      ? "--model ${params.boltz_model}"                                           : "",
            params.use_msa_server                   ? "--use_msa_server"                                                        : "",
            params.msa_server_url                   ? "--msa_server_url ${params.msa_server_url}"                               : "",
            params.boltz_use_potentials             ? "--use_potentials"                                                        : "",
            "--write_full_pae",
        ].findAll{ it }.join(' ').trim()

        publishDir = [
            [

                path: { "${params.outdir}/boltz/${meta.id}" },

                mode: 'copy',
                saveAs: { filename ->
                    if(filename.endsWith('_pae.tsv')){
                        "paes/$filename"
                    } else if(filename.equals('versions.yml')){
                        null
                    } else { filename }
                },
                pattern: '*.*'
            ],
            [
                path: { "${params.outdir}/boltz/${meta.id}/top_ranked_structures" },
                mode: 'copy',
                saveAs: { "${meta.id}.pdb" },
                pattern: '*.pdb'
            ]
        ]
    }

    withName: 'NFCORE_PROTEINFOLD:BOLTZ:MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : "boltz_$filename" }
        ]
    }

    withName: 'BOLTZ_FASTA|MULTIFASTA_TO_CSV|SPLIT_MSA' {
        cpus   = 1
        memory = 2.GB
        time   = 1.h
    }
}
