/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'RUN_ESMFOLD' {
        ext.args = {params.use_gpu ? '' : '--cpu-only'}
        publishDir = [
            [
                path: { "${params.outdir}/esmfold/default" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: '*.*'
            ],
            [
                path: { "${params.outdir}/esmfold/default/top_ranked_structures" },
                mode: 'copy',
                saveAs: { "${meta.id}.pdb" },
                pattern: '*.pdb'
            ]
        ]
    }

    withName: 'NFCORE_PROTEINFOLD:ESMFOLD:MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : "esmfold_$filename" }
        ]
    }

}
