/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths for RF2NA
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    // Configure UNTAR/GUNZIP processes to use correct directory names
    withName: '.*PREPARE_ROSETTAFOLD2NA_DBS:ARIA2_UNIREF30:UNTAR' {
        ext.prefix = 'UniRef30_2020_06'
    }
    withName: '.*PREPARE_ROSETTAFOLD2NA_DBS:ARIA2_BFD:UNTAR' {
        ext.prefix = 'bfd'
    }
    withName: '.*PREPARE_ROSETTAFOLD2NA_DBS:ARIA2_PDB100:UNTAR' {
        ext.prefix = 'pdb100'
    }
    withName: '.*PREPARE_ROSETTAFOLD2NA_DBS:ARIA2_WEIGHTS:UNTAR' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/params/network"},
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    return null
                }
                return filename.replaceAll(/RF2NA_apr23/, 'weights')
            },
        ]
    }
    withName: '.*PREPARE_ROSETTAFOLD2NA_DBS:DOWNLOAD_RNA_DATABASES' {
        publishDir = [
            path: {"${params.outdir}/DBs/${params.mode}/"},
            mode: 'symlink',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: 'RUN_ROSETTAFOLD2NA' {
        accelerator = params.use_gpu? 1 : 0
        publishDir = [
            [
                path: { "${params.outdir}/rosettafold2na/${meta.id}" },
                mode: 'copy',
                pattern: '*_plddt.tsv'
            ],
            [
                path: { "${params.outdir}/rosettafold2na/${meta.id}" },
                mode: 'copy',
                saveAs: { filename -> "paes/$filename" },
                pattern: '*_pae.tsv'
            ],
            [
                path: { "${params.outdir}/rosettafold2na/${meta.id}" },
                mode: 'copy',
                pattern: '*_rosettafold2na_msa.tsv'
            ],
            [
                enabled: params.save_intermediates,
                path: { "${params.outdir}/rosettafold2na/${meta.id}/raw" },
                mode: 'copy',
                pattern: 'raw/**',
                saveAs: { filename -> filename.toString().replaceFirst(/^raw\//, '') }
            ],
            [
                path: { "${params.outdir}/rosettafold2na/top_ranked_structures" },
                mode: 'copy',
                saveAs: { "${meta.id}.pdb" },
                pattern: '*_rosettafold2na.pdb'
            ]
        ]
    }

    withName: 'NFCORE_PROTEINFOLD:ROSETTAFOLD2NA:MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : "rosettafold2na_$filename" }
        ]
    }
}
