/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

//
// General configuration options
//

process {
    withName: 'GUNZIP|COMBINE_UNIPROT|DOWNLOAD_PDBMMCIF|ARIA2_PDB_SEQRES' {
        publishDir = [
            path: {"${params.outdir}/DBs/alphafold2"},
            mode: 'symlink',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: 'NFCORE_PROTEINFOLD:POST_PROCESSING:MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : "alphafold2_$filename" }
        ]
    }

    // Configure UNTAR/GUNZIP processes to use correct directory names
    withName: '.*ARIA2_ALPHAFOLD2_PARAMS:UNTAR' {
        ext.prefix = { "${params.alphafold2_params_prefix}" }
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/params" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: '.*PREPARE_ALPHAFOLD2_DBS:ARIA2_SMALL_BFD:GUNZIP' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/small_bfd" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: '.*PREPARE_ALPHAFOLD2_DBS:ARIA2_BFD:UNTAR' {
        ext.prefix = 'bfd'
    }
    withName: '.*PREPARE_ALPHAFOLD2_DBS:ARIA2_MGNIFY:GUNZIP' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/mgnify" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: '.*ARIA2_PDB70:UNTAR' {
        ext.prefix = 'pdb70'
    }
    withName: '.*PREPARE_ALPHAFOLD2_DBS:DOWNLOAD_PDBMMCIF' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/pdb_mmcif" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: '.*PREPARE_ALPHAFOLD2_DBS:ARIA2_OBSOLETE:ARIA2' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/pdb_mmcif"},
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: '.*.*PREPARE_ALPHAFOLD2_DBS:ARIA2_UNIREF30:UNTAR' {
        ext.prefix = 'uniref30'
    }
    withName: '.*PREPARE_ALPHAFOLD2_DBS:ARIA2_UNIREF90:GUNZIP' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/uniref90" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: '.*PREPARE_ALPHAFOLD2_DBS:ARIA2_PDB_SEQRES' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/pdb_seqres" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: '.*PREPARE_ALPHAFOLD2_DBS:COMBINE_UNIPROT' {
        publishDir = [
            path: { "${params.outdir}/DBs/${params.mode}/uniprot" },
            pattern: 'uniprot.fasta',
        ]
    }
}

process {
    withName: 'RUN_ALPHAFOLD2' {
        if (params.use_gpu) {
            accelerator = 1
        }
        ext.args   = [
            params.use_gpu ? '--use_gpu_relax=true' : '--use_gpu_relax=false',
            params.alphafold2_max_template_date ? "--max_template_date ${params.alphafold2_max_template_date}" : '',
            params.alphafold2_random_seed ? "--random_seed=${params.alphafold2_random_seed}" : ''
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/alphafold2/${params.alphafold2_mode}/${meta.id}" },
                mode: 'copy',
                saveAs: { filename ->
                    if(filename.endsWith('_pae.tsv')){
                        "paes/$filename"
                    } else { filename }
                },
                pattern: '*.tsv'
            ],
            [
                enabled: params.save_intermediates,
                path: { "${params.outdir}/alphafold2/${params.alphafold2_mode}/${meta.id}/" },
                mode: 'copy',
                pattern: 'raw/**'
            ],
            [
                path: { "${params.outdir}/alphafold2/${params.alphafold2_mode}/top_ranked_structures" },
                mode: 'copy',
                saveAs: { "${meta.id}.pdb" },
                pattern: '*_alphafold2.pdb'
            ]
        ]
    }
}

process {
    withName: 'RUN_ALPHAFOLD2_MSA' {
        ext.args =  params.alphafold2_max_template_date ? "--max_template_date ${params.alphafold2_max_template_date}" : ''
        publishDir = [
            [
                path: { "${params.outdir}/alphafold2/${params.alphafold2_mode}/${meta.id}/msa/" },
                mode: 'copy',
                pattern: 'raw/*.*',
                saveAs: { filename ->
                    if(filename.equals('versions.yml')) {
                        null
                    } else {
                        filename.toString().replaceFirst(/^raw\//, '')
                    }
                }
            ],
            [
                enabled: params.save_intermediates,
                path: { "${params.outdir}/alphafold2/${params.alphafold2_mode}/${meta.id}/raw/" },
                mode: 'copy',
                pattern: 'raw/msas/**',
                saveAs: { filename -> filename.toString().replaceFirst(/^raw\//, '') }
            ]
        ]
    }

    withName: 'RUN_ALPHAFOLD2_PRED' {
        if (params.use_gpu) {
            accelerator = 1
        }
        ext.args    = [
            params.use_gpu ? '--use_gpu_relax=true' : '--use_gpu_relax=false',
            params.alphafold2_random_seed ? "--random_seed=${params.alphafold2_random_seed}" : ''
        ].join(' ').trim()
        publishDir = [
            [
                path: { "${params.outdir}/alphafold2/${params.alphafold2_mode}/${meta.id}" },
                mode: 'copy',
                saveAs: { filename ->
                    if(filename.endsWith('_pae.tsv')){
                        "paes/$filename"
                    } else { filename }
                },
                pattern: '*.tsv'
            ],
            [
                enabled: params.save_intermediates,
                path: { "${params.outdir}/alphafold2/${params.alphafold2_mode}/${meta.id}/" },
                mode: 'copy',
                pattern: 'raw/**'
            ],
            [
                path: { "${params.outdir}/alphafold2/${params.alphafold2_mode}/top_ranked_structures" },
                mode: 'copy',
                saveAs: { "${meta.id}.pdb" },
                pattern: '*_alphafold2.pdb'
            ]
        ]
    }
}
