/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'GUNZIP|COMBINE_UNIPROT|DOWNLOAD_PDBMMCIF|ARIA2_PDB_SEQRES' {
        publishDir = [
            path: {"${params.outdir}/DBs/helixfold3/"},
            mode: 'symlink',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: 'RUN_HELIXFOLD3' {

        accelerator = params.use_gpu ?  1 : 0

        ext.args = [
            params.helixfold3_max_template_date ? "--max_template_date=${params.helixfold3_max_template_date}" : "--max_template_date=2038-01-19",
            params.model_name        ? "--model_name ${params.model_name}"               : "--model_name allatom_demo",
            params.preset            ? "--preset ${params.preset}"                       : "--preset 'reduced_dbs'",
            params.init_model        ? "--init_model ${params.init_model}"               : "--init_model './init_models/HelixFold3-240814.pdparams'",
            params.logging_level     ? "--logging_level ${params.logging_level}"         : "--logging_level 'ERROR'",
            params.precision         ? "--precision ${params.precision}"                 : "--precision 'bf16'",
            params.infer_times       ? "--infer_times ${params.infer_times}"             : "--infer_times 4"
        ].join(' ').trim()

        publishDir = [
                path: { "${params.outdir}/helixfold3/" },
                mode: 'copy',
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                pattern: '*.*'
            ]
    }

    withName: 'NFCORE_PROTEINFOLD:HELIXFOLD3:MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : "helixfold3_$filename" }
        ]
    }
}
