/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/proteinfold -profile test_alphafold2_split,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

stubRun = true

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data to test alphafold2 splitting MSA from prediction analysis
    mode            = 'alphafold2'
    alphafold2_mode = 'split_msa_prediction'
    input           = params.pipelines_testdata_base_path + 'proteinfold/testdata/samplesheet/v1.0/samplesheet.csv'
    alphafold2_db   = "${projectDir}/assets/dummy_db_dir"
}

process {
    withName: 'RUN_ALPHAFOLD2_MSA|RUN_ALPHAFOLD2_PRED' {
        container = 'biocontainers/gawk:5.1.0'
    }
}
