/* Minimal stub profile for ColabFold2 prediction modes. */

stubRun = true

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'ColabFold2 preview stub test'
    config_profile_description = 'Minimal test of ColabFold2 orchestration and report channel contracts'
    mode                       = 'colabfold2-alphafold3'
    colabfold_db               = "${projectDir}/assets/dummy_db_dir"
    colabfold2_params_path     = "${projectDir}/assets/dummy_db_dir"
    input                      = params.pipelines_testdata_base_path + 'proteinfold/testdata/samplesheet/v2.0/samplesheet.csv'
}
