/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.
    Use as follows:
        nextflow run nf-core/proteinfold -profile test_rosettafold2na,<docker/singularity> --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

stubRun = false

// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}
params {
    config_profile_name        = 'RosettaFold2NA Cluster Test profile'
    config_profile_description = 'Profile for testing RosettaFold2NA on the cluster'

    mode                 = 'rosettafold2na'
    rosettafold2na_db    = '/projects/aplic_db/rosettafold2na'
    input                = "$projectDir/test_samplesheet.csv"

    // RosettaFold2NA specific parameters
    uniref30_rosettafold2na_path = "${params.rosettafold2na_db}/UniRef30_2020_06/UniRef30_2020_06"
    bfd_rosettafold2na_path      = "${params.rosettafold2na_db}/bfd/bfd_metaclust_clu_complete_id30_c90_final_seq.sorted_opt"
    pdb100_rosettafold2na_path   = "${params.rosettafold2na_db}/pdb100_2021Mar03/pdb_seqres.txt"
    rna_rosettafold2na_path      = "${params.rosettafold2na_db}/RNA"
    rf2na_weights_path           = "${params.rosettafold2na_db}/RF2NA_apr23.tgz"

    use_gpu              = true
}

process {
    withName: 'RUN_ROSETTAFOLD2NA' {
        container = 'quay.io/patribota/proteinfold_rosettafold2na:dev'
    }
}

singularity {
    enabled    = true
    autoMounts = false
    runOptions = '--nv --bind /projects/aplic_db/rosettafold2na/UniRef30_2020_06:/app/RoseTTAFold2NA/UniRef30_2020_06,/projects/aplic_db/rosettafold2na/bfd:/app/RoseTTAFold2NA/bfd,/projects/aplic_db/rosettafold2na/pdb100_2021Mar03:/app/RoseTTAFold2NA/pdb100_2021Mar03,/projects/aplic_db/rosettafold2na/RNA:/app/RoseTTAFold2NA/RNA'
}
