/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running random seed tests with fuzzy matching
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Tests for AlphaFold2 predictions with random seed variation and fuzzy structure comparison.

    Use as follows:
        nextflow run nf-core/proteinfold -profile test_alphafold2_random_seed_fuzzy,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test Random Seed Fuzzy Profile'
    config_profile_description = 'Test AlphaFold2 structure quality with random seed variation'

    // Input data to test alphafold2 with random seed
    // Note: Leave alphafold2_random_seed unset or set to null for random seed behavior
    mode                = 'alphafold2'
    alphafold2_mode     = 'split_msa_prediction'
    alphafold2_random_seed = null
    input               = params.pipelines_testdata_base_path + 'proteinfold/testdata/samplesheet/v1.2/samplesheet_large_protein.csv'
    alphafold2_db       = "${projectDir}/assets/dummy_db_dir"
}

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'  //will need to check if valid for larger protein test data
    ]
}

process {
    withName: 'RUN_ALPHAFOLD2_MSA|RUN_ALPHAFOLD2_PRED' {
        container = 'biocontainers/gawk:5.1.0'
    }
}
