// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]

    withLabel: 'process_gpu' {
        accelerator = 1
        containerOptions = {
            workflow.containerEngine in ['singularity', 'apptainer'] ?
            '--nv' :
            workflow.containerEngine == 'docker' ?
            '--gpus all' :
            ''
        }
    }
}
