/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/proteinfold -profile test_full_colabfold_local,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile for colabfold using local colabfold'
    config_profile_description = 'Minimal test dataset to check pipeline function'


    // Input data to test colabfold with a local server analysis
    mode                   = 'colabfold'
    colabfold_model_preset = 'alphafold2_multimer_v3'
    use_gpu                = true
    input                  = params.pipelines_testdata_base_path + 'proteinfold/testdata/samplesheet/v2.0/samplesheet.csv'
    colabfold_db           = 's3://proteinfold-dataset/test-data/mini_dbs'
    colabfold_use_gpu_relax = false
    colabfold_use_amber     = false
    colabfold_use_templates = false
}

docker.pullStrategy = 'lazy'

process {
    withName:MMSEQS_COLABFOLDSEARCH {
        memory = 16.GB
    }
    withName: 'COLABFOLD_BATCH' {
        beforeScript = System.getenv('TOWER_WORKFLOW_ID') ? 'unset LD_LIBRARY_PATH && export LD_LIBRARY_PATH="/usr/lib/x86_64-linux-gnu:/usr/local/nvidia/lib64:/usr/local/nvidia/lib:/usr/local/lib:/usr/local/targets/x86_64-linux/lib:/usr/local/cuda-12.9/targets/x86_64-linux/lib:/opt/conda/lib"' : null
    }
}
