/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size alphafold3 tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/proteinfold -profile test_full_alphafold3,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile for AlphaFold3'
    config_profile_description = 'Full test dataset to validate AlphaFold3 predictions'

    // Input data for full test of alphafold3
    mode                       = 'alphafold3'
    use_gpu                    = true
    input                      = params.pipelines_testdata_base_path + 'proteinfold/testdata/samplesheet/v1.2/samplesheet.csv'
    alphafold3_model_preset    = 'multimer_v3'

    // Use local databases instead of downloading
    alphafold3_db              = '/data/bio/alphafold'
}
