/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running fixed seed tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Tests for deterministic/reproducible AlphaFold2 predictions with split_msa_prediction mode and fixed random seed.

    Use as follows:
        nextflow run nf-core/proteinfold -profile test_alphafold2_split_fixed_seed,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// Enable Apptainer for nf-test with quay.io registry
apptainer.enabled = true
apptainer.pullTimeout = '60m'
apptainer.registry = 'quay.io'
docker.enabled = false

params {
    config_profile_name        = 'Test Fixed Seed Profile'
    config_profile_description = 'Test AlphaFold2 (split_msa_prediction) reproducibility with fixed seed'

    // Input data to test alphafold2 with fixed seed for reproducibility
    mode                = 'alphafold2'
    alphafold2_mode     = 'split_msa_prediction'
    alphafold2_random_seed = '42'
    input               = params.pipelines_testdata_base_path + 'proteinfold/testdata/samplesheet/v1.2/samplesheet.csv'
    alphafold2_db       = "/data/bio/alphafold"
}

process {
    resourceLimits = [
        cpus: 8,
        memory: '60.GB',
        time: '4.h'
    ]
}

process {
    withName: 'RUN_ALPHAFOLD2_MSA' {
        container = 'nf-core/proteinfold_alphafold2_msa:2.0.0'
    }
    withName: 'RUN_ALPHAFOLD2_PRED' {
        container = 'nf-core/proteinfold_alphafold2_pred:2.0.0'
        accelerator = 1
        ext.args = '--models_to_relax=none --num_multimer_predictions_per_model=1'
    }
}
