/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running fixed seed tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Tests for deterministic/reproducible AlphaFold2 predictions with fixed random seed.

    Use as follows:
        nextflow run nf-core/proteinfold -profile test_alphafold2_fixed_seed,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test Fixed Seed Profile'
    config_profile_description = 'Test AlphaFold2 reproducibility with fixed seed'

    // Input data to test alphafold2 with fixed seed for reproducibility
    mode                = 'alphafold2'
    alphafold2_mode     = 'split_msa_prediction'
    alphafold2_random_seed = 42
    input               = params.pipelines_testdata_base_path + 'proteinfold/testdata/samplesheet/v1.2/samplesheet_large_protein.csv'
    alphafold2_db       = "${projectDir}/assets/dummy_db_dir"
}

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

process {
    withName: 'RUN_ALPHAFOLD2_MSA|RUN_ALPHAFOLD2_PRED' {
        container = 'biocontainers/gawk:5.1.0'
    }
}
