/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/proteinfold -profile test_full_helixfold3,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile for helixfold3'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full test of helixfold3
    mode          = 'helixfold3'
    use_gpu       = true
    input         = params.pipelines_testdata_base_path + 'proteinfold/testdata/samplesheet/v2.0/samplesheet.csv'
    helixfold3_db = 's3://proteinfold-dataset/test-data/mini_dbs/'
}

process {
    withName: 'RUN_HELIXFOLD3' {
        beforeScript = System.getenv('TOWER_WORKFLOW_ID') ? 'unset LD_LIBRARY_PATH && export LD_LIBRARY_PATH="/usr/local/cuda/lib64:/usr/local/cuda-12.8/lib64"' : null
    }
}
