// Limit resources so that this can run on GitHub Actions
process {
    resourceLimits = [
        cpus: 8,
        memory: '30.GB',
        time: '2.h'
    ]

    withLabel: 'process_gpu' {
        accelerator = { params.use_gpu ? 1 : 0 }
        containerOptions = {
            workflow.containerEngine in ['singularity', 'apptainer'] ?
            '--nv' :
            workflow.containerEngine == 'docker' ?
            '--gpus all' :
            ''
        }
    }
}
