process {
    withName: 'RUN_BOLTZ' {
        ext.args = '--seed 0'
        containerOptions = {
            workflow.containerEngine in ['singularity', 'apptainer'] ?
            '--nv' :
            workflow.containerEngine == 'docker' ?
            '--gpus all --shm-size=8g -e TORCHINDUCTOR_CACHE_DIR=.torchinductor' :
            ''
        }
    }
}
