process {
    withName: 'RUN_BOLTZ' {
        ext.args = '--seed 0'
        // RUN_BOLTZ needs more shared memory than Docker's default.
        containerOptions = {
            workflow.containerEngine == 'docker' ?
                '--shm-size=8g -e TORCHINDUCTOR_CACHE_DIR=.torchinductor' :
                ''
        }
    }
}
